.image-container {
    color: #333;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 540px;
    height: 850px;
    left: -260px;
    bottom: 0px;
}

.aboutContainer {
    justify-content: center;
    margin-top: 340px;
}

.aboutContainer:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50%;
    content: "Miksi valita SoftaKoppi?";
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2em;
    color: rgba(26, 26, 26, 0.7);
    text-align: center;
    top: 1120px;
}

.about-picture {
    object-fit: cover;
    height: 100%;
}

.about-card-body-right{
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #ff9100; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    bottom: -15px;
    left: -80px;
    transform:rotate(5deg);
}

.about-card-body-bottom{
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #ffae00; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    top: -520px;
    left: 720px;
    transform:rotate(-2deg);
}

.about-card-body-bottom-right {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fdd729; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    left: 650px;
    top: -540px;
    transform:rotate(6deg);
}

.about-card-body-bottom-left {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fd8f29; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    left: 30px;
    bottom: 0px;
    top: 0px;
}

img[alt="softakoppi_firman_edustus_kuva"] {
    --w: 450px; /* image width */
    --r: 1;     /* image ratio */
    --l: 35px;
    --s: 2px; 
    --_d:calc(var(--s) + var(--l));
    width: var(--w);
    padding: calc(var(--_d)/2);
    box-sizing: border-box;
    aspect-ratio: var(--r);
    object-fit: cover;
    --_g:calc(100% - var(--w)/2)/calc(var(--w)*(1 + 1/var(--r)) - 2*(var(--s) + var(--_d)));
    background: repeating-conic-gradient(from 45deg,#0000 0 25%,#0005 0 50%) var(--_g);
    mask:       repeating-conic-gradient(from 45deg,#000  0 25%,#0005 0 50%) var(--_g);
    clip-path: polygon(var(--l) 0,var(--_d) var(--s),calc(100% - var(--_d)) var(--s),calc(100% - var(--l)) 0,100% var(--l),calc(100% - var(--s)) var(--_d),calc(100% - var(--s)) calc(100% - var(--_d)),100% calc(100% - var(--l)),calc(100% - var(--l)) 100%,calc(100% - var(--_d)) calc(100% - var(--s)),var(--_d) calc(100% - var(--s)),var(--l) 100%,0 calc(100% - var(--l)),var(--s) calc(100% - var(--_d)),var(--s) var(--_d),0 var(--l))
  }

@media only screen and (max-width: 1680px) {
    .image-container{
        left: -120px;
    }
}

@media only screen and (max-width: 1280px) {
    .about-card-body-bottom, .about-card-body-bottom-left, .about-card-body-bottom-right, .about-card-body-right{
        width: 400px;
    }
    .service-list {
        padding: 10px;
    }
    .about-card-body-bottom-left {
        top: 55px;
    }
    .about-card-body-bottom-right{
        top: -525px;
    }
    .about-card-body-bottom{
        top: -485px;
        left: 555px;
    }
    .about-card-body-right {
        top: 85px;
        left: 40px;
    }
    .image-container {
        width: 460px;
        top: 95px;
        height: 100%;
    }
  }
  @media only screen and (max-width: 480px) {
    .aboutContainer {
        flex-direction: column !important;
    }
    .aboutContainer:before{
        top: 1920px;
        left: 90px;
    }
    .image-container{
        left: -4px;
        top: -50px;
    }
    .about-picture{
        width: 90% !important;
        border-radius: 25px;
    }
    .about-card-body-bottom-left{
        top: -25px;
        left: -5px;
    }
    .about-card-body-right{
        top: -135px;
        left: -5px;
        background-color: #ffae00;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -180px;
        left: 1px;
    }
    .about-card-body-bottom-right
    {
        left: 1px;
        top: -205px;
    }
  }

  @media only screen and (max-width: 450px) {
    .aboutContainer {
        flex-direction: column !important;
    }
    .aboutContainer:before{
        top: 1950px;
        left: 90px;
        font-size: 2.4rem;
    }
    .image-container{
        left: -22px;
        top: -120px;
    }
    .about-picture{
        width: 95% !important;
        height: 438px;
        border-radius: 25px;
        z-index: 1;
    }
    .about-card-body-bottom-left{
        width: 385px;
        top: -25px;
        left: 7px;
        transform:rotate(-2deg) ;
    }
    .about-card-body-right{
        top: -195px;
        left: 3px;
        width: 385px;
        background-color: #ffae00;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -240px;
        left: 2px;
        width: 385px;
    }
    .about-card-body-bottom-right{
        left: 1px;
        top: -260px;
        width: 385px;
    }
  }