.image-container {
    color: #333;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 540px;
    height: 850px;
    left: -260px;
    bottom: 0px;
}

.aboutContainer {
    justify-content: center;
    margin-top: 340px;
}

.about_container_title{
    box-sizing: border-box;
    display: block;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
    color: rgba(26, 26, 26, 0.7);
    text-align: center;
    top: 1120px;
}

.about-picture {
    object-fit: cover;
    height: 100%;
}

.about-card-body-right{
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #ff9100; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    bottom: -15px;
    left: -80px;
    transform:rotate(5deg);
}

.about-card-body-bottom{
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #ffae00; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    top: -520px;
    left: 720px;
    transform:rotate(-2deg);
}

.about-card-body-bottom-right {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fdd729; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    left: 650px;
    top: -540px;
    transform:rotate(6deg);
}

.about-card-body-bottom-left {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fd8f29; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    left: 30px;
    bottom: 0px;
    top: 0px;
}

img[alt="softakoppi_firman_edustus_kuva"] {
    --w: 450px; /* image width */
    --r: 1;     /* image ratio */
    --l: 35px;
    --s: 2px; 
    --_d:calc(var(--s) + var(--l));
    width: var(--w);
    padding: calc(var(--_d)/2);
    box-sizing: border-box;
    aspect-ratio: var(--r);
    object-fit: cover;
    --_g:calc(100% - var(--w)/2)/calc(var(--w)*(1 + 1/var(--r)) - 2*(var(--s) + var(--_d)));
    background: repeating-conic-gradient(from 45deg,#0000 0 25%,#0005 0 50%) var(--_g);
    mask:       repeating-conic-gradient(from 45deg,#000  0 25%,#0005 0 50%) var(--_g);
    clip-path: polygon(var(--l) 0,var(--_d) var(--s),calc(100% - var(--_d)) var(--s),calc(100% - var(--l)) 0,100% var(--l),calc(100% - var(--s)) var(--_d),calc(100% - var(--s)) calc(100% - var(--_d)),100% calc(100% - var(--l)),calc(100% - var(--l)) 100%,calc(100% - var(--_d)) calc(100% - var(--s)),var(--_d) calc(100% - var(--s)),var(--l) 100%,0 calc(100% - var(--l)),var(--s) calc(100% - var(--_d)),var(--s) var(--_d),0 var(--l))
  }

@media only screen and (max-width: 1680px) {
    .image-container{
        left: -120px;
    }
}

@media only screen and (max-width: 1280px) {
    .about-card-body-bottom, .about-card-body-bottom-left, .about-card-body-bottom-right, .about-card-body-right{
        width: 400px;
    }
    .service-list {
        padding: 10px;
    }
    .about-card-body-bottom-left {
        top: 55px;
    }
    .about-card-body-bottom-right{
        top: -525px;
    }
    .about-card-body-bottom{
        top: -485px;
        left: 555px;
    }
    .about-card-body-right {
        top: 85px;
        left: 40px;
    }
    .image-container {
        width: 460px;
        top: 95px;
        height: 100%;
    }
  }
  @media only screen and (max-width: 480px) {
    .aboutContainer {
        flex-direction: column !important;
    }
    .about_container_title{
        top: 2040px;
        left: 0px;
    }
    .image-container{
        left: -15px;
        top: -50px;
    }
    .about-picture{
        width: 100% !important;
        border-radius: 5px;
    }
    .about-card-body-bottom-left{
        top: 5px;
        left: 15px;
    }
    .about-card-body-right{
        top: -95px;
        left: -5px;
        background-color: #ffae00;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -130px;
        left: 1px;
    }
    .about-card-body-bottom-right
    {
        left: 1px;
        top: -145px;
    }
  }

  @media only screen and (max-width: 460px) {
    .aboutContainer {
        flex-direction: column !important;
    }
    .about_container_title{
        top: 1850px;
        left: 120px;
        font-size: 2.5rem;
        content: "Miksi SoftaKoppi?";
        width: 50%;
    }
    .image-container{
        left: -18px;
        top: -162px;
    }
    .about-picture{
        width: 95% !important;
        height: 440px;
        border-radius: 25px;
        z-index: 1;
    }
    .about-card-body-bottom-left{
        width: 385px;
        top: -7px;
        left: 7px;
        transform:rotate(-2deg) ;
    }
    .about-card-body-right{
        top: -245px;
        left: 3px;
        width: 385px;
        background-color: #ffae00;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -290px;
        left: 2px;
        width: 385px;
    }
    .about-card-body-bottom-right{
        left: 1px;
        top: -320px;
        width: 385px;
    }
    img[alt="softakoppi_firman_edustus_kuva"] {
        --w: 450px; /* Adjusted image width */
        --l: 15px; /* Adjusted value for --l */
        --s: 1px; /* Adjusted value for --s */
    }
}
@media only screen and (max-width: 440px) {
    .image-container{
        left: -30px;
    }
    .about_container_title{
        top: 1850px;
        left: 105px;
    }
}
@media only screen and (max-width: 425px) {
    .image-container{
        left: -33px;
    }
}


@media only screen and (max-width: 420px) {
    .image-container{
        left: -34px;
    }
    .about_container_title{
        top: 1875px;
        left: 100px;
    }

    .about-card-body-bottom-left{
        width: 370px;
        top: -6px;
        left: -5px;
        transform:rotate(-1deg) ;
    }
    .about-card-body-right{
        top: -195px;
        left: -25px;
        width: 370px;
        background-color: #ffae00;
        transform: rotate(1deg);
        z-index: -1;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -240px;
        left: -25px;
        width: 380px;
    }
    .about-card-body-bottom-right{
        left: -20px;
        top: -270px;
        width: 370px;
        transform: rotate(2deg);
    }
    .about-picture{
        width: 100% !important;
        height: 470px;
        border-radius: 0;
        z-index: 1;
    }
    img[alt="softakoppi_firman_edustus_kuva"] {
        --l: -10px; /* Adjusted value for --l */
        --s: 0px; /* Adjusted value for --s */
    }
}

@media only screen and (max-width:375px) {
    .image-container{
        left: -30px;
    }
    .about_container_title{
        top: 1720px;
        left: 80px;
    }

    .about-card-body-bottom-left{
        width: 350px;
        top: -6px;
        left: 0;
        transform:rotate(-1deg) ;
    }
    .about-card-body-right{
        top: -215px;
        left: -20px;
        width: 360px;
        background-color: #ffae00;
        transform: rotate(1deg);
        z-index: -1;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -240px;
        left: -20px;
        width: 360px;
    }
    .about-card-body-bottom-right{
        left: -20px;
        top: -290px;
        width: 360px;
        transform: rotate(1deg);
    }
        .about-picture{
            width: 95% !important;
            height: 400px;
            width: 380px !important;
            border-radius: 5px;
            z-index: 1;
        }
}

@media only screen and (max-width:360px) {
    .image-container{
        left: -40px;
    }
    .about_container_title{
        left: 70px;
    }

    .about-card-body-bottom-left{
        width: 350px;
        top: -9px;
        left: 4px;
        transform:rotate(-0.8deg) ;
    }
    .about-card-body-right{
        top: -215px;
        left: -25px;
        width: 350px;
        background-color: #ffae00;
        transform: rotate(1deg);
        z-index: -1;
    }
    .about-card-body-bottom{
        background-color: rgb(231, 228, 7);
        top: -240px;
        left: -25px;
        width: 350px;
    }
    .about-card-body-bottom-right{
        left: -25px;
        top: -290px;
        width: 350px;
        transform: rotate(1deg);
    }
        .about-picture{
            width: 95% !important;
            height: 400px;
            width: 380px !important;
            border-radius: 5px;
            z-index: 1;
        }
}