.brand-logo {
    object-fit: cover;
    width: 100%;
}

@font-face {
    font-family: Amaranth-Regular;
    src: url('../../../public/fonts/Amaranth-Regular.ttf');
  }

  .hamburger {
    position: relative;
    left: 725px;
    top: 25px;
  }

  .list-link-nav{
    padding-bottom: 10px;
    font-size: 1.4rem;
  }

  .navigation-hidden {
    display: none;
  }
  
  .navigation-visible {
    display: inline;

  }
  .navigation {
    padding: 1rem; /* Add some padding for content */
    transition: transform 0.3s ease-in-out; /* Smooth transition on open/close */
    position: absolute;
    top: 0;
    margin-top: 55px;
    left: 625px;
  }
  ul {
    list-style-type:none;
    font-family: 'Permanent Marker', cursive;
  }
 .link {
    color: #333;
    text-decoration: none;
 } 

 .link:hover{
  font-size: larger;
  font-weight: 800;
 }
.card-body-left {
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fdd729;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px;
    height: 350px;
    transform:rotate(-2deg);
    left: 35px;
}
.card-body-right {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    text-align: center;
    background-color: #ffbd07;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px;
    transform:rotate(3deg);
    top: 75px;
}

.card-header {
    position: relative;
    padding: 15px;
    font-size: 2.5rem;
    font-family: Amaranth-Regular;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
}
.card-container {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

@media only screen and (max-width: 480px) {
    .card-container {
        flex-direction: column !important;
    }
    .card-body-right {
        width: 350px;
        height: 300px;
        top: -35px;
        left: 35px;
    }
    .card-body-left{
        width: 350px;
        height: 300px;
        top: 5px;
        left: 15px;
    }
    .hamburger {
      position: relative;
      left: 205px;
      top: 15px !important;
    }
    .navigation-visible{
      display: flex;
      background-color: #3339;
      color: black;
      width: 485px;
      height: 306px;
      justify-content: center;
      left: -220px;
      top: -70px;
      text-align: center;
      align-items: center;
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -2px #222;
    }
    .link {
      color: #fff;
    }
  }

  @media only screen and (max-width: 460px) {
    .card-body-right {
        width: 340px;
        height: 300px;
        top: -15px;
        left: 35px;
    }
    .card-body-left{
        width: 340px;
        height: 300px;
        top: 20px;
        left: 15px;
    }
    .hamburger {
      position: relative;
      left: 185px;
      top: 15px !important;
    }
    .navigation-visible{
      display: flex;
      background-color: #3339;
      color: black;
      width: 463px;
      height: 306px;
      justify-content: center;
      left: -200px;
      top: -70px;
      text-align: center;
      align-items: center;
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -2px #222;
    }
    .navigation-hidden{
      width: 30%;
    }
    .link {
      color: #fff !important;
    }
  }

  @media only screen and (max-width: 440px) {
    .navigation-visible{
      left: -220px;
    }
  }


  @media only screen and (max-width: 420px) {
    .navigation-visible{
      left: -210px;
    }
    .card-body-right {
      width: 330px;
      height: 300px;
      top: -25px;
      left: -5px;
  }
  .card-body-left{
      width: 330px;
      height: 300px;
      top: 5px;
      left: -15px;
  }

  .hamburger {
    left: 155px;
  }
  }

  @media only screen and (max-width: 375px) {
    .navigation-visible{
      width: 450px;
    }
    .card-body-right {
      width: 320px;
      height: 280px;
      top: -25px;
      left: 5px;
  }
  .card-body-left{
      width: 320px;
      height: 280px;
      left: 1px;
  }

  .hamburger {
    left: 155px;
  }
  }

  @media only screen and (max-width: 360px) {
    .navigation-visible{
      width: 450px;
    }
    .card-body-right {
      width: 320px;
      height: 280px;
      top: -25px;
      left: -5px;
  }
  .card-body-left{
      width: 320px;
      height: 280px;
      left: -6px;
  }

  .hamburger {
    left: 155px;
  }
  }