.company-card-body-left {
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fdd729; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px;
    height: 350px;
    right: 0px;
    left: 40px;
    bottom: 0px;
    top: 155px;
    transform:rotate(-4deg);
}
.company-card-body-center {
    color: #333;
    box-sizing: border-box;
    margin: 25px;
    padding-bottom: 20px;
    text-align: center;
    background:#ccf;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 190px;
}

.company-card-body-right {
    color: #333;
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #ff9100; /* Yellow background for post-it note */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
    width: 450px; /* Adjust width as needed */
    height: 350px;
    left: -45px;
    bottom: 0px;
    top: 265px;
    transform:rotate(4deg);
}

.company-section {
    justify-content: center;
}

.service_title{
    box-sizing: border-box;
    display: block;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2em;
    color: rgba(26, 26, 26, 0.7);
    text-align: center;
    padding-top: 10px;
    top:565px;
    left: 785px;
    z-index: 111;
}

.service-list {
    padding: 15px;
}

@font-face {
    font-family: ArchitectsDaughter-Regular;
    src: url('../../../public/fonts/ArchitectsDaughter-Regular.ttf');
  }

.area-item {
    font-size: 1.6rem;
    color: #2c2c2c;
    font-weight: 800;
    font-family: ArchitectsDaughter-Regular;
}

@media only screen and (max-width: 1280px) {
    .company-card-body-center, .company-card-body-left, .company-card-body-right {
        width: 380px;
    }
    .service-list {
        padding: 10px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .company-section {
        margin-bottom: 555px !important;
    }
    .service_title{
        top:550px;
        left:350px;
    }
    .company-card-body-center {
        left: -200px;
    }
    .company-card-body-left{
        top: 555px;
        left: 420px;
    }
    .company-card-body-right{
      left: -240px;
      top: 180px;
    }
  }

@media only screen and (max-width: 480px) {
    .company-section {
        flex-direction: column !important;
    }
    .service_title{
        top:783px;
        left: 135px;
    }
    .service_heading {
        font-size: 2.5rem;
    }
    .company-card-body-left{
        top: 80px;
        left: 10px;
    }
    .company-card-body-center{
        top: 35px;
        left: 15px;
        transform: rotate(4deg);
    }
    .company-card-body-right{
        top: -35px;
        left: -5px;
        transform: rotate(1deg);
    }
}

@media only screen and (max-width: 460px) {
    .service_title{
        top: 730px;
        left: 115px;
        width: 0%;
        font-size: 2.7rem;
    }
    .area-item {
        font-size: 1.4rem;
    }
    .company-card-body-center{
        width: 365px;
        margin: 0;
        left: 30px;
    }
    .company-card-body-left{
        width: 365px;
        margin: 0;
        left: 30px;
    }
    .company-card-body-right{
        width: 365px;
        margin: 0;
        left: 30px;
    }
    
}

@media only screen and (max-width: 430px) {
    .service_title{
        top: 740px;
    }
    .area-item {
        font-size: 1.4rem;
    }
    .company-card-body-center{
        width: 365px;
        margin: 0;
        left: 20px;
        top:55px;
    }
    .company-card-body-left{
        width: 365px;
        margin: 0;
        left: 20px;
    }
    .company-card-body-right{
        width: 365px;
        margin: 0;
        left: 20px;
        top: 15px;
    }
    
}

@media only screen and (max-width: 420px) {
    .service_title{
        bottom: 1780px;
        left: 105px;
        width: 0%;
        font-size: 2.4rem;
    }
    .area-item {
        font-size: 1.4rem;
    }
    .company-card-body-center{
        width: 355px;
        margin: 0;
        left: 5px;
    }
    .company-card-body-left{
        width: 355px;
        margin: 0;
        left: 0px;
    }
    .company-card-body-right{
        width: 355px;
        margin: 0;
        left: 5px;
    }
    
}

@media only screen and (max-width: 380px) {
    .service_title{
        bottom: 1850px;
        left: 105px;
        width: 0%;
        font-size: 2.4rem;
    }
    .area-item {
        font-size: 1.4rem;
    }
    .company-card-body-center{
        width: 335px;
        height: 300px;
        margin: 0;
        left: 5px;
        top: 65px;
    }
    .company-card-body-left{
        width: 345px;
        margin: 0;
        height: 300px;
        left: 5px;
    }
    .company-card-body-right{
        width: 345px;
        margin: 0;
        height: 320px;
        left: 1px;
        top: 45px;
    }
    .area-item {
        font-size: 1.3rem;
    }
    
}



@media only screen and (max-width: 360px) {
    .service_title{
        left: 100px;
        font-size: 2.3rem;
    }
    .company-card-body-center{
        left: 0px;
    }
    .company-card-body-left{
        left: 0;
    }
    .company-card-body-right{
        left: -5px;
    }
    .area-item {
        font-size: 1.2rem;
    }
    
}

