.footer {
    position: relative;
    bottom: -175px;
}

@media only screen and (max-width: 460px){
.footer{
    width: 50%;
    background-color: transparent !important;
}
}

@media only screen and (max-width: 375px){
    .footer{
        width: 00%;
        height: 0;
        background-color: transparent !important;
    }
    } 